{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Survey
{% endblock %}

{% block content %}
<hr>

<style>
    p{
        font-size: 22px;
        margin-bottom: -18px;
    }
    .otree-body {
        max-width:1100px
    }
    .otree-title {
      text-align: center;
    }
</style>
{% block styles %}
    <link href="{% static 'css/otreetimer.css' %}" rel="stylesheet">
{% endblock %}

<br>
<p style="margin-bottom: 10px;">
    Please describe your experience while you are waiting for the mining to complete in Part 1.
</p>
{{ formfield 'waiting_exp_1' }}
<br>
<br>
<p style="margin-bottom: 10px;">
    Please describe how did you feel when you learned that the mining had been delayed?
</p>
{{ formfield 'delay_exp' }}
<br>
<br>
<p style="margin-bottom: 10px;">
    Please describe your experience while you are waiting for the mining to complete in Part 3. How does it compare to your experience in Part 1?
</p>
{{ formfield 'waiting_exp_2' }}
<br>
<br>


<button class="otree-btn-next btn btn-primary" style="float: right;">Next</button>

{{ endblock }}
