{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Part 1
{% endblock %}

{% block styles %}

<link href="{% static 'css/PracticePages.css' %}" rel="stylesheet">

{% endblock %}

<style>
    .otree-form-errors{
        visibility:hidden
    }
    .otree-timer {
        display: block;
    }
</style>
{% block content %}

<p> Please select an image that fits the pattern. </p>


<img src="{% static image_path_1 %}" style="width:50%" />
<img src="{% static image_path_2 %}" style="width:46.3%" />

{% formfields %}
<br>
{% next_button %}

{% endblock %}
